*.iml
*.class
target/
.idea
*.asc
bundle.jar
src/main/resources/test-twitter-credentials.json
src/main/resources/test-twitter-credentials2.json
src/main/resources/users/*
/.vscode
/.settings
.classpath
.factorypath
.project